{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ producto.nombre }}
{% endblock %}

{% block contenido %}
<body class="text-center">
    <section class="py-5">
        <div class="container px-6 px-lg-7 mt-7">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="detalle-producto">
                    <img src="{% if producto.imagen %} {{producto.imagen.url}} {% else %} {% static 'img/no_imagen.png' %}{% endif %}" style="width: 210px;">
                    <hr>
                    <h1>{{producto.nombre}}</h1>
                    <hr>
                    <h4>
                        <a style="color: antiquewhite;" href="{{ producto.categoria.get_absolute_url }}">{{producto.categoria}}</a>
                    </h4>
                    <p class="precio">${{producto.precio}}</p>
                    {{producto.descripcion}}
                    <hr>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Agregar al carrito</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
