{% extends "shop/base.html" %}
{% load static %}

{% block title %}
   Categorias
{% endblock %}

{% block contenido%}
<div id="sidebar">
    <h3><u>Categorias</u></h3>
    <ul>
        {% for object in categorias %}
            <li>
                <a href="{{object.get_absolute_url}}">{{object.nombre}}</a>
                
            </li>
        {% endfor %}
    </ul> 
    <div id="main">
        <h3>Productos</h3>
        {% for object in productos %}
            <a href="{{object.get_absolute_url}}">{{object.nombre}}</a>
            <hr>
        {% endfor%}
    </div>                  
</div>  


{% endblock %}